<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/consultar_lista_monedas.css">
    <title>Lista monedas</title>
    <link rel="icon" href="imgs/logo-solo.ico">
</head>

<body>
    <header>
        <picture></picture>
        <span class="span-inicio">LISTA DE MONEDAS</span>
        <span class="span-cliente">Administrador</span>
        <picture></picture>
    </header>

    <nav>
        <a href="/" class="ancle-inicio"></a>
        <a href="/" class="ancle-enviar_dinero"></a>
        <a href="/" class="ancle-consulta_lista_transacciones"></a>
        <a href="/" class="ancle-consulta_transaccion"></a>
        <a href="/" class="ancle-eliminar_destinatario"></a>
        <a href="/" class="ancle-agregar_destinatario"></a>
        <a href="/" class="ancle-agregar_dinero"></a>
    </nav>

    <main>
        <section class="section-transacciones">

            <p class="p-transacciones">Lista de monedas</p>

            <span class="moneda">Moneda</span>
            <span class="codigo">Código</span>
            <span class="tasa">Tasa</span>

            <section class="moneda1 fields">
                <span class="tipo">Pesos Colombianos</span>
                <span class="tipo_codigo">COP</span>
                <span class="tipo_tasa">4239.33</span>
            </section>

            <section class="moneda2 fields">
                <span class="tipo">Dólares Australianos</span>
                <span class="tipo_codigo">AUD</span>
                <span class="tipo_tasa">1.44</span>
            </section>

            <section class="moneda3 fields">
                <span class="tipo">Libras Esterlinas</span>
                <span class="tipo_codigo">GBP</span>
                <span class="tipo_tasa">0.83</span>
            </section>

            <section class="moneda4 fields">
                <span class="tipo">Dólares Americanos</span>
                <span class="tipo_codigo">USD</span>
                <span class="tipo_tasa">1</span>
            </section>

        </section>
    </main>


</body>

</html>